In [4]:
import sqlite3
import pandas as pd
# Conectarse a la base de datos (si no existe, se creará)
conn = sqlite3.connect('mi_base_de_datos.sqlite')

# Crear un cursor para ejecutar consultas SQL
cursor = conn.cursor()

# Crear la tabla Parque_atracciones
cursor.execute('''CREATE TABLE IF NOT EXISTS Parque_atracciones (
                    Nombre TEXT,
                    Direccion TEXT,
                    Ciudad TEXT,
                    Provincia TEXT,
                    Aforo INTEGER,
                    Codigo TEXT PRIMARY KEY
                )''')

# Insertar datos en la tabla Parque_atracciones (uso de INSERT OR IGNORE)
cursor.execute('''INSERT OR IGNORE INTO Parque_atracciones 
                  VALUES ('Port Aventura', 'Calle', 'Salou', 'Tarragona', 51000, '01')''')

# Crear la tabla Atracciones
cursor.execute('''CREATE TABLE IF NOT EXISTS Atracciones (
                    Nombre TEXT,
                    Tipo TEXT,
                    Duracion INTEGER,
                    Categoria_edad TEXT,
                    Longitud_Atraccion REAL,
                    Altura_Minima INTEGER,
                    codigo_atraccion TEXT PRIMARY KEY,
                    codigo_parque TEXT,
                    FOREIGN KEY (codigo_parque) REFERENCES Parque_atracciones(Codigo)
                )''')

# Crear la tabla Zonas
cursor.execute('''CREATE TABLE IF NOT EXISTS Zonas (
                    Codigo_Zona TEXT PRIMARY KEY,
                    Ambientacion TEXT,
                    Platos_Tipicos TEXT,
                    Espectaculos TEXT,
                    Horario TEXT,
                    Afluencia_Media INTEGER
                )''')

# Crear la tabla Alojamiento
cursor.execute('''CREATE TABLE IF NOT EXISTS Alojamiento (
                    Nombre TEXT,
                    Precio REAL,
                    Categoria TEXT,
                    Servicios TEXT,
                    Ambientacion TEXT
                )''')

# Guardar los cambios y cerrar la conexión
#conn.commit()
#conn.close()
#cursor.close()

In [5]:
df = pd.read_sql_query('SELECT * FROM Parque_atracciones', conn)

print (df)

          Nombre Direccion Ciudad  Provincia  Aforo Codigo
0  Port Aventura     Calle  Salou  Tarragona  51000     01